services:
  # Serviço 1: Sua API Django (Web)
  - type: web
    name: tamarcado-api
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn tamarcado.wsgi --log-file -
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: tamarcado.settings.prod
      - key: DATABASE_URL
        sync: false # Você colará o valor do Neon.tech no painel do Render
      - key: REDIS_URL
        sync: false # Você colará o valor do Upstash no painel do Render
      - key: DJANGO_SECRET_KEY
        generateValue: true

  # Serviço 2: O Worker do Celery (Necessário para suas tasks)
  - type: worker
    name: tamarcado-worker
    env: python
    buildCommand: ./build.sh
    startCommand: celery -A tamarcado worker -l info
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: tamarcado.settings.prod
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false