services:
  - type: web
    name: tamarcado-api
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn tamarcado.wsgi --log-file -
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase: # Alterado de fromService para fromDatabase
          name: tamarcado-db
          property: connectionString
      - key: REDIS_URL
        fromRedis:    # Alterado de fromService para fromRedis
          name: tamarcado-redis
          property: connectionString
      - key: DJANGO_SETTINGS_MODULE
        value: tamarcado.settings.prod
      - key: SENDGRID_API_KEY
        sync: false # Recomendo definir manualmente no painel do Render por segurança

# Bancos de dados gerenciados ficam fora de 'services'
databases:
  - name: tamarcado-db
    postgresMajorVersion: "13"
    plan: free

# Instâncias Redis gerenciadas também ficam fora de 'services'
redis:
  - name: tamarcado-redis
    plan: free
    ipAllowList: []